Data/
biocypher-log/
**/__pycache__/
cypher_data/
metta_data/
myenv/
.gitignore
.env
schema.json
*.txt
tags
output
.pytest_cahce
tests\test_Metta_query_generator\test_parse_and_serialize_properties.txt
get_node.py